
@model IEnumerable<Library.Models.AppUser>

@{
    ViewData["Title"] = "UserList";
    Layout = "_Layout";
}
<p>
    <a asp-action="Create" class="btn btn btn-success btn-sm float-lg-right"> Add New</a>
</p>
<table id ="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppUserId)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHiDden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appuser in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelAppUser => appuser.AppUserId)
                </td>
                <td>
                    @Html.DisplayFor(ModelAppuser => appuser.IsHiDden)
                </td>
                <td>
                    @Html.DisplayFor(ModelAppUser => appuser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(ModelAppUser => appuser.Password)
                </td>
                <td>
                    <a asp-controller="AppUser" asp-action="Edit" asp-route-AppUserId="@appuser.AppUserId" class="btn btn btn-sm btn-success"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <a asp-controller="AppUser" asp-action="Delete" asp-route-AppUserId="@appuser.AppUserId" class="btn btn btn-sm btn-danger"><i class="fa-solid fa-pen-to-square"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>