@model IEnumerable<Library.Models.AppuserPermission>
@{
    ViewData["Title"] = "UserPermission";
}
<div class="card">
    <div class="card-header">
        <h4 class="title float-left">UserPermission</h4>
    </div>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-sm btn-success float-lg-right"> Add New Permission</a>
        </p>
        <table id="example1" class="table table-striped">
           <thead>
                <tr>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.AppUserPermissionId)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.AppUser!.UserName)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.UserPermission)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
           </thead>
            @foreach(var item in Model)
            {
               <tr>
                   <td>
                       @Html.DisplayFor(modelItem => item.AppUserPermissionId)
                   </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppUser!.UserName)
                    <td>
                       @Html.DisplayFor(modeltItem =>item.UserPermission)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="AppUserpermission" asp-route-appuserPermissionId="@item.AppUserPermissionId" class="btn btn btn-sm btn-success"> Editt</a>
                        <a asp-action="Delete" asp-controller="AppUserpermission" asp-route-appuserPermissionId="@item.AppUserPermissionId" class="btn btn btn-sm btn-danger"> Delete</a>
                    </td>
               </tr>
            }

        </table>
    </div>
</div>