@model IEnumerable<Library.Models.Librarian>

@{
    ViewData["Title"] = "Librarian";
}
<div class="card">
    <div class="card-header">
        <h4 class="title float-left">All Librarian</h2>
    </div>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary btn-sm float-right">Add New Librarian</a>
        </p>
        <table class="table ">
            <thead>
                <tr>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.LibrarianId)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.LibrarianName)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.LibrarainCode)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.Dob)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.Pob)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.IsHidden)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.LibrarianId)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.LibrarianName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.LibrarainCode)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Sex)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Dob)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Pob)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.IsHidden)
                        </td>
                        <td>
                            <a asp-controller="Librarian" asp-action="Edit" asp-route-LibrarianId="@item.LibrarianId" class="btn btn-sm btn-success">Edit</a>
                            <a asp-controller="Librarian" asp-action="Delete" asp-route-LibrarianId="@item.LibrarianId" class="btn btn-sm btn-danger"> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>