@model IEnumerable<Library.Models.Book>
@inject Library.Services.IBookService _book
@{
    ViewData["Title"] = "Book";
}

<div class="card">
    <div class="card-header">
        <h4 class="title float-left">Book List</h4>
    </div>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-success btn-sm float-right">Add New Book</a>
        </p>
        <table class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.BookId)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.Catalog!.CatalogName)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.BookCode)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.BookDescription)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.IsHidden)
                    </th>
                    <th class="fst-italic">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.BookId)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Catalog!.CatalogName)
                        </td>
                        <td>
                            @if (_book.IsBorrowed(item.BookId))
                            {
                                <span class="text-danger">@Html.DisplayFor(model => item.BookCode)</span>
                            }
                            else
                            {
                                @Html.DisplayFor(model => item.BookCode)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.BookDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.IsHidden)
                        </td>
                        <td>
                            <a asp-controller="Book" asp-action="Edit" asp-route-BookId="@item.BookId" class="btn btn-sm btn-success">Edit</a>
                            <a asp-controller="Book" asp-action="Delete" asp-route-bookId="@item.BookId" class="btn btn-sm btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
