@model IEnumerable<Library.Models.Book>

@{
    ViewData["Title"] = "Book";
}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">Book List</h2>
    </div>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary btn-sm float-right">Add New Book</a>
        </p>
        <table id ="example1" class="table table-bordered table-striped">
            <thead>
                <tr >
                    <th>
                        @Html.DisplayNameFor(model => model.BookId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Catalog!.CatalogName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BookDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsHidden)
                    </th>
                   
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.BookId)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Catalog!.CatalogName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.BookCode)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.BookDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.IsHidden)
                        </td>
                       
                        <td>
                            <a asp-controller="Book" asp-action="Edit" asp-route-BookId="@item.BookId" class="btn btn-sm btn-success" >Edit</a>
                            <a asp-controller="Book" asp-action="Delete" asp-route-bookId="@item.BookId" class="btn btn-sm btn-danger" > Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>