@model IEnumerable<Library.Models.Catalog>
@{
    ViewData["Title"] = "Catalog";
}
<div class="card">
    <div class="card-header">
        <h4 class="title float-left">All New Catalog</h4>
    </div>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn​ btn-sm btn-success float-right">Add New</a>
        </p>
        <table class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.CatalogId)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.CatalogCode)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.CatalogName)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.AuthorName)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.PubliSher)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.PublishYear)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.PublisheDition)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.IsHidden)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.Isbn)
                    </th>
                    <th class="fst-italic">
                       Action
                   </th>
                </tr>

            </thead>
            <tbody class="tab-content">
                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatalogId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatalogCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatalogName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AuthorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PubliSher)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublishYear)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublisheDition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsHidden)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Isbn)
                        </td>
                        <td>
                            <a asp-controller="Catalog" asp-action="Edit" asp-route-CatalogId="@item.CatalogId" class="btn btn-sm btn-success"> Edit</a>
                            <a asp-controller="Catalog" asp-action="Delete" asp-route-CatalogId="@item.CatalogId" class="btn btn-sm btn-danger"> Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
