@model IEnumerable<Library.Models.Customer>
@{
    ViewData["Title"] = "Customer";

}
<div class="card">
    <div class="card-header">
        <h4 class="title float-left">Customer List</h2>
    </div>
    <div class="card-body">
        <p>
            <a class="btn btn-sm btn-success  float-right" asp-action="Create"><i class="fa-solid fa-square-plus"></i> Add New Customer</a>
        </p>
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.CustomerId)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.CustomerCode)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.CustomerType!.CustomerTypeName)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.Sex)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.Dob)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.Pob)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th class="fst-italic">
                        @Html.DisplayNameFor(model => model.IsHidden)
                    </th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerType!.CustomerTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sex)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dob)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pob)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                           @*  @if (item.IsHidden)
                            {
                                <i class="fa fa-check" style="color: green;"></i>
                            }
                            else
                            {
                                <a class="fas fa-times " style="color: red;"></a>
                            } *@
                            <form id="hiddenStatusForm-@item.CustomerId" asp-action="Hidden" method="post">
                                <input type="hidden" name="id" value="@item.CustomerId" />
                                <input type="hidden" name="isHidden" value="@(item.IsHidden ? "false" : "true")" />
                                <input type="checkbox" @(item.IsHidden ? "checked" : " ") onchange="updateHiddenStatus(@item.CustomerId)" />
                            </form>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Customer" asp-route-CustomerId="@item.CustomerId" class="btn btn-sm btn-success">Edit</a>
                            <a asp-action="Delete" asp-route-CustomerId="@item.CustomerId" class="btn btn-sm btn-danger"> Delete</a>

                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>
