@model IEnumerable<Library.Models.CustomerType>

@{
    ViewData["Title"] = "CustomerType";
}


<div class="card">
    <div class="card-header">
        <h2 class="card-title">Customer Type</h2>
    </div>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-sm btn-success  float-right"><i class="fa-solid fa-plus"></i> Add New</a>
        </p>
        <table id="example1" class="table table-bordered table-striped dataTable dtr-inline collapsed" aria-describedby="example1_info">
            <thead>
                <tr>
                    
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending">
                        @Html.DisplayNameFor(model => model.CustomerTypeId)
                    </th>
                    <th class="sorting sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column descending" aria-sort="ascending">
                        @Html.DisplayNameFor(model => model.CustomerTypeName)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="odd">
                        <td class ="dtr-control" tabindex="0">
                            @Html.DisplayFor(ModelCustomertype => item.CustomerTypeId)
                        </td>
                        <td class="sorting_1">
                            @Html.DisplayFor(ModelCustomertype => item.CustomerTypeName)
                        </td>
                        <td>
                            <a asp-controller="CustomerType" asp-action="Edit" asp-route-CustomerTypeId="@item.CustomerTypeId" class="btn btn-sm btn-success">Edit</a>
                            <a asp-controller="CustomerType" asp-action="Delete" asp-route-CustomerTypeId="@item.CustomerTypeId" class="btn btn-sm btn-danger">Delete</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


