@model IEnumerable<Library.Models.CustomerType>

@{
    ViewData["Title"] = "CustomerType";
}

<p>
    <a asp-action="Create" class="btn btn-outline-success btn-sm float-lg-right"><i class="fa-solid fa-plus"></i> Create</a>
</p>
<table class="table">
    <thead class="table-warning">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerTypeId)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.CustomerTypeName)
           </th>
           <th>
               Action
           </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelCustomertype => item.CustomerTypeId)
                </td>
                <td>
                    @Html.DisplayFor(ModelCustomertype => item.CustomerTypeName)
                </td>
                <td>
                    <a asp-controller="CustomerType" asp-action="Edit" asp-route-CustomerTypeId="@item.CustomerTypeId">Edit</a>
                    <a asp-controller="CustomerType" asp-action="Delete" asp-route-CustomerTypeId="@item.CustomerTypeId">Delete</a>
                   
                </td>
            </tr>
        }
    </tbody>
</table>